footer {
    background-color: white;
    height: 60px;
    width: 100%;
    border-top: solid 1px #CCCCCC;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
