footer {
    /* color: white; */
    height: 60px;
    width: 100%;
    border-top: solid 1px #CCCCCC;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
