.places h1 {
    text-align: left;
    font-size: 30px;
}
.places div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
}
article h2 {
    text-align: center;
    font-size: 30px;
}
